<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROCK PAPER SCISSORS</title>
<!-- Line 10 calls in the CSS style sheet I have created inside static/css/main.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
    
    <div class="container">
        <div class="textbox">

            <p class="boxtext"><h1>WELCOME TO ROCK PAPER SCISSORS!</h1><p>The winner of the turn is determined by the following rules: 

                Rock beats Scissors "Rock blunts Scissors" - 
                Scissors beats Paper "Scissors cuts Paper" - 
                Paper beats Rock "Paper covers Rock".
                If both players present the same gesture, 
                the turn is a draw and they play again.</p></p>
    
   
        <!-- Line 29 I have created a container to house the url links.  -->
<!--Line 30 I have created a url link on the index page allowing the player to play without browser path input  --> 
    <div class="container">    
    <a href="http://127.0.0.1:5000/rock/scissors">Play Rock vs Scissors</a> 
    <a href="http://127.0.0.1:5000/rock/rock">Play Rock vs Rock</a> 
    <a href="http://127.0.0.1:5000/rock/paper">Play Rock vs Paper</a> 
    <a href="http://127.0.0.1:5000/paper/scissors">Play Paper vs Scissors</a> 
    <a href="http://127.0.0.1:5000/paper/paper">Play Paper vs Paper</a> 
    <a href="http://127.0.0.1:5000/paper/rock">Play Paper vs Rock</a> 
    <a href="http://127.0.0.1:5000/scissors/rock">Play Scissors vs Rock</a> 
    <a href="http://127.0.0.1:5000/scissors/scissors">Play Scissors vs Scissors</a> 
    <a href="http://127.0.0.1:5000/scissors/paper">Play Scissors vs Paper</a> 
    
    </div>
  
</body>
</html>